#comment-container {
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: .25em;
    padding-left: .5em;
    border-radius: 10px;
    gap: .75em;
}

#comment-profile-img-container {
    background-color: #f50;
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

#comment-profile-img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

.comment-text-name {
    width: 85%;
}

.comment-name {
    font-size: 14px;
    color: #999;
    margin-bottom: .25rem;
}

/* FORM STYLES */

#new-comment-form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: #f2f2f2;
    padding: .35em;
}

#new-comment-form-img {
    background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%);
    width: 5%;
    aspect-ratio: 1 / 1;
    background-size: cover;
}

#new-comment-form-input {
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
    padding: .15rem;
    border: none;
}

/* Edit Modal Styles */

.comment-update-container {
    justify-self: flex-end;
}

.comment-update-button-container {
    margin: .25em;
    margin-right: .5em;
}

.fa-button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.fa-button-edit {
    border: 1.5px solid #f50;
    color: #f50;
}

.fa-button-edit:hover {
    border: 1.5px solid #f50;
    color: #f50;
}

.fa-button-trash {
    background-color: white;
    border: 1.5px solid #333;
    color: #333;
}

#in-edit-textarea {
    height: 100%;
    width: 85%;
    color: black;
}

.cancel-action-button {
    color: #333;
    border: 2px solid #333;
    background-color: white;
}

.confirm-action-button {
    color: #f50;
    border: 2px solid #f50;
    background-color: white;
}