#comment-container {
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: .25em;
    padding-left: .5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    gap: .75em;
}

#comment-profile-img-container {
    background-color: #f50;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#comment-profile-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.comment-text {
    align-self: flex-start;
    margin-top: 5px;
    width: 85%;
}

/* FORM STYLES */

#new-comment-form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2em;
    gap: .5em;
}

#new-comment-form-img-container {
    background-color: #f50;
    width: 60px;
    height: 60px;
    border-radius: 45px;
}

#new-comment-form-img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

#new-comment-form-field-padding {
    background-color: #f2f2f2;
    height: 60px;
    width: 300px;
    padding: .35em;
}

#new-comment-form-content-field {
    width: 100%;
    height: 100%;
}

#comment-submit-button {
    border: 1px solid black;
    background-color: white;
    padding: .35em;
}

#comment-submit-button:hover {
    border: 1px solid rgba(128, 128, 128, 0.475);
    color: rgba(128, 128, 128, 0.475);
}

/* Edit Modal Styles */

.comment-update-container {
    justify-self: flex-end;
}

.comment-update-button-container {
    margin: .25em;
    margin-right: .5em;
}

.fa-button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.fa-button-edit {
    background-color: white;
    border: 1.5px solid #f50;
    color: #f50;
}

.fa-button-trash {
    background-color: white;
    border: 1.5px solid #333;
    color: #333;
}

#in-edit-textarea {
    height: 100%;
    width: 85%;
}

.cancel-action-button {
    color: #333;
    border: 2px solid #333;
    background-color: white;
}

.confirm-action-button {
    color: #f50;
    border: 2px solid #f50;
    background-color: white;
}