#homepage-container {
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepage-content {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#cover-image-container {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-image {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

#cover-image-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.156);
    border-radius: 45px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .83em;
}

#main-title {
    color: white;
}

#scroll-info {
    color: white;
    width: 100%;
    text-align: center;
}

#homepage-song-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

#feed-title {
    margin-bottom: 1em;
    width: 40%;
    font-size: 25px;
    text-align: center;
}

#feature-tracks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}