#homepage-container {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepage-content {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#carousel-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#carousel {
    position: absolute;
    width: 200%;
    height: 100%;
    display: flex;
    left: 0px;
    transition: 1.5s;
}

.background-img {
    width: 50%;
}

#carousel-img1 {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_a@2x-cc048a7f.jpg);
    background-size: cover;
    background-position: center;
}

#carousel-img2 {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_featured_artists-8081257b.jpg);
}

/* make none the default styles for input radios */
/* use the associated label to mimic the input field */
#carousel-container > input {
    display: none;
}

/* overlay manual and auto selectors */
#nav-m,
#nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.m-btn,
#nav-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: white;
}

#nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked~ #nav-auto #a-b1 {
    background-color: white;
}
#radio2:checked~ #nav-auto #a-b2 {
    background-color: white;
}

#cover-image-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    width: 40%;
    border-radius: 45px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .83em;
}

#main-title {
    color: white;
}

#scroll-info {
    color: white;
    width: 100%;
    text-align: center;
}

#homepage-song-feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

#feed-title {
    margin-bottom: 1em;
    width: 40%;
    font-size: 25px;
    text-align: center;
}

#feature-tracks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}