#homepage-container {
    height: 100vh;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
}

#homepage-content {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#cover-image-container {
    height: 400px;
    overflow: hidden;
    display: flex;
}

#cover-image {
    width: 100%;
    object-fit: cover;
}

#cover-image-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px
}

#main-title {
    color: white;
}

#scroll-info {
    color: white;
    width: 60%;
    text-align: center;
}

#cover-image-button {
    background-color: #f50;
    color: white;
    padding: .5em;
    font-size: 15px;
}

#homepage-song-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

#feed-title {
    margin-bottom: 1em;
    width: 40%;
    font-size: 25px;
    text-align: center;
}

#feature-tracks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}