#whitespace {
    height: 50px;
    width: 80%;
    padding: 1em 20px;
    background-color: white;
    border-top: 1px solid #f2f2f2;
}

#footer {
    width: 100%;
    padding: .75em 5em;
    background-color: #333;
    justify-content: space-around;
    display: flex;
}

.footer-label {
    color: white;
}