#track-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#track-container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0.25turn, #615151a1, #554433);
    padding: 2.5em;
}

#track-components {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-right: 2em;
}

#track-banner {
    display: flex;
    justify-content: space-between;
}

#track-banner-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#track-play-button {
    margin-right: 10px;
    font-size: 60px;
    color: #f50;
    background-color: white;
    border-radius: 500px;
}

#track-play-button:hover {
    cursor: pointer;
}

#track-name {
    background-color: black;
    color: white;
    padding: .3em;
    margin-bottom: .25em;
    font-size: 20px;
}

#artist-name {
    background-color: black;
    color: white;
    padding: .3em;
    margin-bottom: .25em;
    width: fit-content;
}

#track-banner-right {
    display: flex;
    flex-direction: column;
}

#track-days-ago {
    align-self: flex-end;
    color: white;
    font-size: 18px;
}

#track-genre {
    background-color: #554433;
    margin-top: 1em;
    padding: .5em;
    border-radius: 45px;
    color: white;
    font-weight: lighter;
}

#track-description-container {
    align-self: center;
    background-color: black;
    color: white;
    padding: .5em;
}

#album-art-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#album-art {
    width: 100%;
}

#waveform-container {
    width: 100%;
}

.update-container {
    width: 100%;
    background-color: #333;
    height: 40px;
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-update-buttons {
    height: 25px;
    font-size: 13px;
    background-color: #333;
    border: 1.5px solid #f50;
    color: white;
}

.track-update-button-container {
    width: 150px;
}

#confirm-delete-button {
    background-color: #333;
    border: 2px solid black;
    color: white;
}

#track-comment-section {
    width: 100%;
    min-height: 220px;
    padding: 1.5em;
    padding-bottom: 2em;
    background-color: white;
}

#track-comment-feed {
    width: 60%;
    margin-left: 10%;
}

#first-to-comment {
    background-color: #5544339c;
    margin-top: 1em;
    padding: .5em 1em;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    width: fit-content;
}

#empty-container {
    display: flex;
}

#please-sign-in {
    width: 100px;
    height: 40px;
    border-radius: 45px;
    color: white;
    background-color: #f50;
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
}

#empty-img {
    width: 100%;
}

#please-sign-in:hover {
   color: #e3e3e3;
}

#PlayBars-container {
    display: none;
    position: absolute;
}