.track-card-container {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: .25em;
}

.card-name {
    color: black
}

.card-image-container {
    width: 180px;
    height: 180px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-playPause-container {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-playPause {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.track-card-container:hover .card-playPause {
    display: block;
}

.card-track-name {
    color: #333;
}

.card-artist-name {
    font-size: 12px;
    color: #999;
}