* {
    font-family: 'Interstate', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

#app-hero {
    height: auto;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
}

.button {
    border: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
    height: 26px;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

.wT-bB-button {
    background-color: #333;
    border: 1px solid #666;
    color: white;
    font-size: 15px;
}

.wT-bB-button:hover {
    border: 1px solid rgba(255, 255, 255, 0.707);
}

.wT-oB-button {
    background-color: #f50;
    color: white;
}

.wT-oB-button:hover {
   border: 1px solid white;
}

.toggle-password-button {
    color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 9px;
}

textarea {
    border: none;
    resize: none;
}

.custom-file-input::-webkit-file-upload-button {
    background-color: #f50;
    color: white;
    border: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
    height: 26px;
    font-weight: 400;
    border: 1px solid #f50;
}

.custom-file-input::-webkit-file-upload-button:hover {
   border: 1px solid white;
}