* {
    font-family: 'Interstate', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
}

.button {
    border: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    color: #e3e3e3d2;
}

textarea {
    border: none;
    resize: none;
}

textarea:focus {
    border: 1px solid black;
}