#navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    height: 46px;
    width: 100%;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
}

.nav-link-container {
    height: 46px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

#rightside-nav {
    display: flex;
}

#logo-home-button {
    background-color: black;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .5em;
    padding-right: .5em;
}

#logo-home-img {
    height: 80%;
}

#demo-login-button {
    background-color: #333;
    border: 1px solid #666;
    color: white;
    height: 26px;
    font-weight: 400;
    font-size: 15px;
    margin-left: 1em;
}

#demo-login-button:hover {
    cursor: pointer;
    border: 1px solid white;
}


#signup-button {
    background-color: #f50;
    color: white;
    height: 26px;
    margin-left: 1em;
    font-weight: 400;
}

#signup-button:hover {
    cursor: pointer;
}

#upload-track-nav {
    color: white;
}

#user-profile-button {
    background-color: #333;
    color: #ccc;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: none;
}

#user-profile-button:hover {
    color: white;
    cursor: pointer;
}

#user-profile-button > * {
    align-self: center;
    padding-left: .5em;
    padding-right: .5em;
}

#menu-carrot {
    width: 30px;
    color: #ccc;
}

.profile-dropdown {
    position: fixed;
    background-color: white;
    color: #333;
}