#navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    height: 46px;
    align-items: center;
    padding-right: 10px;
}

/* #leftside-nav {

} */

#home-button {
    background-color: white;
}

#leftside-right {

}

#signup-button {
    background-color: #f50;
    color: white;
    height: 26px;
    margin-left: 1em;
}
#signup-button:hover {
    cursor: pointer;
}

